*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
 
.menu-container{
    color: rgb(255, 255, 255);
    background-color: rgb(228, 31, 139);
    padding: 20px 0 ;
    display: flex;
    justify-content: center;
}
.menu{

    width: 900px;
    display: flex;
    justify-content: space-between;
}
.link{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.header-container{
    color: rgb(65, 116, 211);
    background-color: rgb(255, 180, 232);
    display: flex;
justify-content: center;
}
.header{
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe, .social{
    align-self:flex-end;
    margin-bottom: 20px;
}
.photo-grid-container{
    display: flex;
    justify-content: center;
}
.photo-grid{
    width: 1000px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /*flex-direction:column ;
    align-items: center;*/
}
 .footer{
    display: flex;
    justify-content: space-between;
  
}
.footer-item{
    border: 1px solid #ffffff;
    background-color: aliceblue;
    height: 200px;
    flex: 1;
}
.footer-two{
    flex: 2;
    background-color: rgb(240, 131, 182);
}
.first-item{
order: 1;
}
.sec-item{
order: 2;
    }
 .last-item{
order: -inherit;
        }
